<div class="NewHeader">
  <h1 mat-dialog-title> XPCN</h1>
</div>
<div mat-dialog-content>
  <div fxLayout="row wrap" #resizedDiv style="margin-top:20px!important;">
    <div class="flex-p w-100">
      <div class="table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Document Name</th>
              <th>Document Type</th>
              <!-- <th>Delete</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList">
              <td>{{item.docuName}}</td>
              <td>{{item.docuType}}</td>
              <!-- <td>
                <a mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteVisit()"
                (cancel)="cancelClicked = true" [appendToBody]="true">
                <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete Document" class="fa fa-trash red"></i>
              </a>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hove" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Close</button>
</mat-dialog-actions>