<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
    <button mat-raised-button style="color:white; background:#3b7bb8;margin-right:10px;" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <mat-drawer-container class="custom-sidenav" hasBackdrop="false" class="margin-top-10">
      <mat-drawer #drawer mode="side" opened="true">
        <div class="col-sm-12 col-xs-12" style="padding-left:0px;">
          <mat-card class="col-lg-12 col-xs-12" style="background: #dbe8f3 !important;width: auto">
            <p-tree [value]="files" class="ptreecustom" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
          </mat-card>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <div *ngIf="treeElement != 'Recommendations'">
          <app-master-in-visit-records></app-master-in-visit-records>
        </div>
        <div *ngIf="treeElement != 'Recommendations'" class="col-sm-3 col-xs-12">
          <ul class="ul">
            <li>
              <div class="ui-inputgroup" *ngFor="let item of newGroups">
                <input type="text" style="cursor: pointer;padding: 10px;width: 220px;" [ngClass]="{'active': selectedListItem == item}" (click)="listNewClick($event, item)" value={{item.name}} readonly>
              </div>
            </li><br>
          </ul>
        </div>
        <!-- <div *ngIf="item === 'Med / Fam / Social History'" class="col-sm-9">
          <app-handp-social-history></app-handp-social-history>
        </div> -->
        <div *ngIf="item === 'Onpatient / Check-In' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-in-patient-soap></app-in-patient-soap>
        </div>
        <div *ngIf="item === 'Subjective' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-subjective></app-soap-subjective>
        </div>
        <div *ngIf="item === 'Objective' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-objective></app-soap-objective>
        </div>
        <div *ngIf="item === 'Assessment' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-assessment></app-soap-assessment>
        </div>
        <div *ngIf="item === 'Plan' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-plan></app-soap-plan>
        </div>
        <div *ngIf="item === 'Medications & Allergies' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-medications></app-soap-medications>
        </div> 
        <div *ngIf="item === 'ESI Images' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-esi-images></app-soap-esi-images>
        </div>  
        <div *ngIf="item === 'Symptoms' && treeElement != 'Recommendations'" class="col-sm-9 col-xs-12">
          <app-soap-symptoms></app-soap-symptoms>
        </div>  
        <div *ngIf="treeElement === 'Recommendations'" class="col-sm-12 col-xs-12 col-lg-12">
          <app-recommendations-of-all-visits></app-recommendations-of-all-visits>
        </div>  
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>