<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
    <app-master></app-master> <br>
    <app-master-in-lcl></app-master-in-lcl>
    <div class="container-fluid mt-5 mx-3 text-light ">
      <div class="row">
        <div class="col-2 bg-dark text-light">
          <a style="background:black !important;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
            <div class="text-light text-center my-auto">
              <div class="m-auto p-5" style="margin-top:74px!important;">Express</div>
            </div>
          </a>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-2">
              <div class="col-12 p-0" style="clip-path: polygon(75% 1%, 100% 50%, 75% 100%, 0 100%, 0 0);" id="big">
                <div class="py-5 px-5">confirmed(16) </div>
              </div>
              <div class="p-0">
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Provisional(4)</div>
                </a>
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">CAN/REJ (2)</div>
                </a>
                
              </div>
            </div>
            <div class="col-2">
              <div class="col-12 p-0" style="clip-path: polygon(75% 1%, 100% 50%, 75% 100%, 0 100%, 0 0);" id="big">
                <div class="py-5 px-5">Allocated (140) </div>
              </div>
              <div class="p-0">
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Alloc (6)</div>
                </a>
                <!-- <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Placed (4)</div>
                </a> -->
              </div>
            </div>
            <div class="col-2">
              <div class="col-12 p-0" style="clip-path: polygon(75% 1%, 100% 50%, 75% 100%, 0 100%, 0 0);" id="big">
                <div class="py-5 px-5">Placed (125) </div>
              </div>
              <div class="p-0">
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">In Transit (13)</div>
                </a>
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Placed (2)</div>
                </a>
              </div>
            </div>
            <div class="col-2">
              <div class="col-12 p-0" style="clip-path: polygon(75% 1%, 100% 50%, 75% 100%, 0 100%, 0 0);" id="big">
                <div class="py-5 px-5">Loaded (121) </div>
              </div>
              <div class="p-0">
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Loading (3)</div>
                </a>
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Docked (0)</div>
                </a>
                <!-- <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Issued (1)</div>
                </a> -->
              </div>
            </div>
            <div class="col-2">
              <div class="col-12 p-0" style="clip-path: polygon(75% 1%, 100% 50%, 75% 100%, 0 100%, 0 0);" id="big">
                <div class="py-5 px-5">CN/TS Issued (120) </div>
              </div>
              <div class="p-0">
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">CN Issued (1)</div>
                </a>
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">TS Issued (1)</div>
                </a>
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Issued (1)</div>
                </a>
                
              </div>
            </div>
            <div class="col-2">
              <div class="col-12 p-0" style="clip-path: polygon(75% 1%, 100% 50%, 75% 100%, 0 100%, 0 0);" id="big">
                <div class="py-5 px-5">Trip Started (1) </div>
              </div>
              <div class="p-0">
                <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">Not Started (3)</div>
                </a>
                <!-- <a style="background:white !important;color:white;cursor: pointer !important;" [routerLink]="['/instanttransport/shipments/lcl']">
                  <div class="my-2 p-3 pl-0 bg-secondary">In transit (16)</div>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      
      
    </div>
    
    
    
    
    
    
    
  </div>
</div>
