.margins {
    margin-top: 8px;
    font-weight: 400!important;
}
.margin {
    margin-right: 8px;
}
.leftMargin {
    margin-left: 20px;
}
.topMargins {
    margin-top: -7px!important;
}
.leftMarginLOC {
    margin-left: -60px;
}
.leftMarginRestrained {
    margin-left: -15px;
}
.leftMarginDidThePatient {
    margin-left: -20px;
}
.leftMarginPatientWas {
    margin-left: -139px;
}
.leftMarginEndedOn {
    margin-left: -45px;
}
.leftMarginSide {
    margin-left: -165px;
}
.leftMarginDidairbagsdeploy {
    margin-left:-75px;
}
.leftMarginDidQuestion {
    margin-left: -90px;
}