<div class="row">
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Patient :</label> Patient Name<br>
    
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
      <label class="control-label">DOB :</label> Patient DOB<br>
      <label class="control-label">Visit :</label> Visit date  
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
      <label class="control-label">Sex :</label> Patient Sex<br>
      <label class="control-label">Patient ID :</label> Patient ID
  </div>
</div>

<hr>

<h2>History of Present Illness:</h2>

<div>
  <p>
    Patient describes the location to be options with , and comments with a space
  </p>
</div>
<div>
  <p>
    The quality of pain is described as options with , and comments with a space and a severity / intensity level of option in severity and comments with a space
  </p>
</div>
<div>
  <p>
    This duration of the problem stated is as follows: options with ,
  </p>
</div>
<div>
  <p>
    Duration comments include: comments with a space
  </p>
</div>
<div>
  <p>
    Patient explains the timing/onset of signs/symptoms to be options with ,
  </p>
</div>
<div>
  <p>
    Additional timing/onset comments include: comments with a space
  </p>
</div>
<div>
  <p>
    The patient states signs and symptoms occurred options with , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    The signs and symptoms described options with ,
  </p>
</div>
<div>
  <p>
    Modifying Factors Comments include: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Associated symptoms include: options with ,
  </p>
</div>
<div>
  <p>
    Associated Symptoms Comments include: comments seperated by a space
  </p>
</div>
<div>
  <p>
    The patient has attempted the following previous treatment(s): comments seperated by a space
  </p>
</div>
<div>
  <p>
    Text in textarea for additional notes
  </p>
</div>