<h1 mat-dialog-title>Clinical Notes</h1><hr>
<div mat-dialog-content>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Patient Name : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <label class="control-label fontWeightClass">David Warner</label>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Date : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-calendar" [owlDateTimeTrigger]="dt3"></i>
                    <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="dt3" [(ngModel)]="dates">
                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </div>
            </div>
        </div> -->
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Age : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <label class="control-label fontWeightClass">35</label>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">DOI : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-calendar" [owlDateTimeTrigger]="dt1"></i>
                    <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1" [(ngModel)]="dates">
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Weight (lbs) : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="email" placeholder="Enter Weight">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Height (ft) : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="email" placeholder="Enter Height">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">BP (mmHg) : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="email" placeholder="Enter BP">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Pulse : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="email" placeholder="Enter Pulse">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Chief Complaint : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <textarea class="form-control txtarea" id="email" placeholder="Enter Complaint" rows="2"></textarea>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-hover btn-success" (click)="saveAttorney()" [mat-dialog-close]="'test'">Proceed</button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 