.fa-file-pdf-o {
    color: red;
}

.fa-map-o {
    color: #0088cc;
}

.newMarginClass {
    margin-top: 7px!important;
}

.row {
    margin-top: 6px;
}

.alphabet {
    margin-left: 35px;
    font-size: 15px;
    cursor: pointer !important;
    color: #30a8f0 !important;
}

.VIApadding {
    padding-left: 100px;
}

