<div class="row wrap" style="margin-bottom:7px;">
  <div class="col-sm-12">
    <div class="pills w-100 flex-p">
      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/shipments/lcl/bookings']"><mat-icon>assignment_turned_in</mat-icon> Bookings </a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/shipments/lcl/intransit']"><mat-icon>departure_board </mat-icon> In-Transit </a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/shipments/lcl/delivery']"><mat-icon>check_circle_outline </mat-icon> Delivery </a></li>
      </ul>
    </div>
  </div>