<div class="row">
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Patient :</label> Patient Name<br>
    
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">DOB :</label> Patient DOB<br>
    <label class="control-label">Visit :</label> Visit date  
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Sex :</label> Patient Sex<br>
    <label class="control-label">Patient ID :</label> Patient ID
  </div>
</div>

<hr>

<h2>Subjective :</h2>

<div>
  <p>
    History of present illness: comments
  </p>
</div>
<div>
  <p>
    Social History: comments
  </p>
</div>
<div>
  <p>
    Family history: comments
  </p>
</div>
<div>
  <p>
    Past Medical History: comments
  </p>
</div>

<div>
  <p>
    GENERAL: no weakness, no fatigue, no fever, no significant weight change
  </p>
</div>
<div>
  <p>
    GENERAL: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    SKIN: no rash, no lumps, no sores, no itching, no dryness, no color change, no changes in hair or nails
  </p>
</div>
<div>
  <p>
    SKIN: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    HEENT: no headache, no head injury, no dizziness, no lightheadedness, no vision changes, no hearing
    problems, no tinnitus, no vertigo, no earaches, no nasal stuffiness, no nasal discharge, no nosebleeds, no
    sinus trouble, no dry mouth, no hoarseness
  </p>
</div>
<div>
  <p>
    HEENT: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    NECK: no lumps, no lymphadenopathy, no goiter, no pain, no stiffness
  </p>
</div>
<div>
  <p>
    NECK: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    BREASTS: no lumps, no pain or discomfort, no nipple discharge
  </p>
</div>
<div>
  <p>
    BREASTS: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    CARDIOVASCULAR: no chest pain or discomfort, no palpitations, no dyspnea, no orthopnea, no paroxysmal
    nocturnal dyspnea, no edema
  </p>
</div>
<div>
  <p>
    CARDIOVASCULAR: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    RESPIRATORY: no cough, no sputum, no hemoptysis, no dyspnea, no wheezing
  </p>
</div>
<div>
  <p>
    RESPIRATORY: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    GASTROINTESTINAL: no trouble swallowing, no heartburn, no nausea, no vomiting, no diarrhea, no rectal
    bleeding or tarry stools, no constipation, no abdominal pain, no food intolerance
    
  </p>
</div>
<div>
  <p>
    GASTROINTESTINAL: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    URINARY: no polyuria, no nocturia, no urgency, no burning or pain on urination, no hematuria, no urinary
    infections, no kidney stones, no incontinence, no dribbling
  </p>
</div>
<div>
  <p>
    URINARY: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    GENITAL(Male): no hernias, no discharge, no sores, no testicular pain or masses, no lesions, no erectile dysfunction
  </p>
</div>
<div>
  <p>
    GENITAL(Male): options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    GENITAL(Female): no dysmenorrhea, no menopausal symptoms, no postmenopausal bleeding, no vaginal discharge,
    no itching, no sores, no lumps, no dyspareunia
  </p>
</div>
<div>
  <p>
    GENITAL(Female): options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    PERIPHERAL VASCULAR: no intermittent claudication, no leg cramps, no varicose veins
  </p>
</div>
<div>
  <p>
    PERIPHERAL VASCULAR: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    MUSCULOSKELETAL: no muscle or joint pains, no stiffness, no arthritis, no gout, no backache, no swelling, no
    redness, no pain, no tenderness, no limitation of motion
  </p>
</div>
<div>
  <p>
    MUSCULOSKELETAL: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    NEUROLOGIC: no fainting, no blackouts, no seizures, no weakness, no paralysis, no numbness or loss of
    sensation, no tingling, no tremors or other involuntary movements
  </p>
</div>
<div>
  <p>
    NEUROLOGIC: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    ENDOCRINE: no heat or cold intolerance, no excessive sweating, no excessive thirst or hunger, no polyuria,
    no change in glove or shoe size
  </p>
</div>
<div>
  <p>
    ENDOCRINE: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    PSYCHIATRIC: no nervousness, no depression, no memory change
  </p>
</div>
<div>
  <p>
    PSYCHIATRIC: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Text in textarea for additional notes
  </p>
</div>