<div class="row">
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Patient :</label> Patient Name<br>
    
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
      <label class="control-label">DOB :</label> Patient DOB<br>
      <label class="control-label">Visit :</label> Visit date  
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
      <label class="control-label">Sex :</label> Patient Sex<br>
      <label class="control-label">Patient ID :</label> Patient ID
  </div>
</div>

<hr>

<h3>
  Med / Fam / Social History:
</h3>
<div>
  <p>
    Medical History includes: options seperated by ,
  </p>
</div>
<div>
  <p>
    Past Medical History includes: comments seperated by space
  </p>
</div>
<div>
  <p>
    Past Surgical History: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Childhood illnesses: options seperated by , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Childhood Immunizations: options seperatedby , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Date of the patient's previous Physical Exam: date
  </p>
</div>
<div>
  <p>
    Primary Care Physician: comments seperated by a space 
   </p>
</div>
<div>
  <p>
    PCP Contact Info: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Father's past medical history includes: options seperated by a , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Mother's past medical history includes : options seperated by a , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Grandparents medical history includes: options seperated by a , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Children's medical history includes: options seperated by a , and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Marital Status: options
  </p>
</div>
<div>
  <p>
    The patient is currently living options and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Sexual History: options and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Occupation: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Caffeine: options and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Alcohol ingestion: options and comments seperated by a space
  </p>
</div>
<div>
  <p>
    Other illegal substances: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Patient describes their diet to be the following: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Notes seperated by space
  </p>
</div>