hr {
    display: block;
    overflow: visible;
    border-style: dashed;
    border-width: 3px;
    width: 1290px;
}

.col-sm-2 {
    margin-top: 5px!important;
}

.margin {
    margin-left: 150px!important;
}

.margin-left {
    margin-left: 70px!important;
}