<div fxLayout="" class="row">
    <div class="col-sm-10">
        <app-master-in-combined-notes></app-master-in-combined-notes>

    </div>
    <div class="col-sm-2">
        <button mat-raised-button class="  add-hover btn-success" (click)="openscheduledDialog(null)">
      <mat-icon>list_alt</mat-icon> Add Scheduled Notes
    </button>
    </div>
</div>
<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p ">

        <form class="form-horizontal" novalidate [formGroup]="ScheduleForm">

            <div>
                <div>
                    <label class="control-label  ">Username: </label>
                    <span> Siva kumar</span>

                </div>
                <div>
                    <label class="control-label  ">Date & Time: </label>
                    <span> 10/03/2019 13:09 PM CDT </span>
                </div>
                <div>
                    <label class="control-label  ">Notes: </label>
                    <span> Patient coming for a followup states that swelling from knee joint.</span>


                </div>
                <hr>
                <div>
                    <label class="control-label  ">Username: </label>
                    <span> Sohail </span>

                </div>
                <div>
                    <label class="control-label  ">Date & Time: </label>
                    <span> 10/01/2019 10:09 PM CDT </span>


                </div>
                <div>
                    <label class="control-label ">Notes: </label>
                    <span> Attached is the prescription for patient Siva kumar DOB: 13.10.1996. Patient came for a
            followup on 10.03.2019; still facing the same 
            problem as before.</span>

                </div>


            </div>


        </form>


       



    </div>

</div>`