<div fxLayout="" class="row">
    <div class="col-sm-10">
        <app-master-in-combined-notes></app-master-in-combined-notes>

    </div>
    <div class="col-sm-2">
        <button mat-raised-button class="  add-hover btn-success" (click)="openbillingDialog(null)">
  <mat-icon>speaker_notes</mat-icon> Add Billing Notes
</button>
    </div>
</div>
<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p ">

        <form class="form-horizontal">

            <div class="">
                <div class="">
                    <label class="control-label  ">Username: </label>
                    <span> Abid</span>

                </div>
                <div class="">
                    <label class="control-label  ">Date & Time: </label>
                    <span> 10/03/2019 13:09 PM CDT </span>
                </div>
                <div class="">
                    <label class="control-label  ">Notes: </label>
                    <span> The billing amount for patient Siva kumar has been sent to the assigned attorney. </span>


                </div>
                <hr>
                <div class="">
                    <label class="control-label  ">Username: </label>
                    <span> Siva Kumar</span>

                </div>
                <div class="">
                    <label class="control-label  ">Date & Time: </label>
                    <span> 10/03/2019 13:09 PM CDT </span>
                </div>
                <div class="">
                    <label class="control-label  ">Notes: </label>
                    <span> A partial amount of USD 1000 has been received via cheque. </span>


                </div>
                <hr>
                <div class="">
                    <label class="control-label  ">Username: </label>
                    <span> Sohail </span>

                </div>
                <div class="">
                    <label class="control-label  ">Date & Time: </label>
                    <span> 10/01/2019 10:09 PM CDT </span>


                </div>
                <div class="">
                    <label class="control-label ">Notes: </label>
                    <span> The claim amount has been written off for the patient from attorney.</span>

                </div>


            </div>


        </form>

    </div>

</div>