.newMarginClass {
    margin-top: 7px!important;
}

.mgninput {
    margin-left: 20px;
}

.mgnright {
    float: right;
}

.mgnsave {
    margin-right: 10px;
}
.newMarginClass {
    margin-top: 7px!important;
}

.btn-success-gray {
    background: #686968fa !important;
    color: white !important;
}

.reset-hover:hover {
    background: #8e928efa !important;
}

.btn-success-help {
    background: #ecdf29 !important;
    color: black !important;
}

.add-hover-help:hover {
    //color: #222222 !important;
    background: #f8f18a !important;
}

.inner-screen {
    color: #246ade !important;
    // text-decoration: underline !important;
    cursor: pointer;
}

.newMarginClass {
    margin-top: 7px!important;
}

.row {
    margin-top: 6px;
}

// .VIApadding {
//     padding-left: 100px;
// }
.input-icon.right>i {
    right: 25px;
    float: right;
}

.input-icon>i {
    color: #ccc;
    display: block;
    position: absolute;
    //margin: 11px 2px 4px 10px;
    margin-top: 5px;
    // margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal .input-icon>i {
    z-index: 10055;
}

.newMarginClass {
    margin-top: 7px!important;
}

.actionsMinWidth {
    min-width: 111px;
}

.customerName {
    min-width: 125px;
}

.addressWidth {
    min-width: 159px;
}

.phonewidth {
    min-width: 117px;
}

.postcodewidth {
    min-width: 98px;
}