<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
    <!-- <app-master></app-master> -->
      <div class="row" style="margin-bottom:14px;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="w-100 flex-p">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="w-100 flex-p">
            <button mat-raised-button class="pull-right add-hover btn-success" (click)="openCountryDialog(null)">
              <mat-icon>add</mat-icon> Add Testimonial
            </button>
            <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
              <mat-icon>filter_list</mat-icon> Filter
            </button> -->
          </div>
        </div>
      </div>
      
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100" *ngIf="filterToggle">
          <mat-card class="filter">
            <mat-card-content>
              <div class="row col-sm-12">
                <!-- <div class="col-sm-4">
                  <div class="col-sm-4 newMarginClass">
                    Country: 
                  </div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="--Enter Country name--">
                  </div>
                </div> -->
                <div class="col-sm-4">
                  <div class="col-sm-4 newMarginClass">
                    Customer: 
                  </div>
                  <div class="col-sm-8">
                    <mat-select placeholder="--Search by Customer--" class="form-control">
                      <mat-option *ngFor="let option of customers" [value]="option.id">{{option.value}}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-1">
                  <button type="button" class="add-hover btn btn-success  pull-right">Search</button>
                </div>
                <div class="col-lg-1">
                  <button type="button" class="btn filter-hover" style="background-color:#37474f; color:#fff !important">Clear</button>
                </div>
              </div>  
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      
      <div class="table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Customer</th>
              <th>Testimonial</th>
              <th>Image</th>
              <th>Video</th>
              <th>Added Date & Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableLists">
              <td>{{item.customer}}</td>
              <td>{{item.testimonial}}</td>
              <td><a href="../../../assets/img/vendor/leaflet/freeagent-testimonial-example.png" target="_blank">View</a></td>
              <td><a href="https://www.youtube.com/watch?v=69T5b3EQT0Q" target="_blank">View</a></td>
              <td>{{item.time}}</td>  
            </tr>
          </tbody>
        </table>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  
  <div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>