.marginClasImportant {
    margin-left: 5px!important;
}

.didpatienthitHEAD {
    margin-left: -6px!important;
}

.painAggravates {
    margin-left: 8px!important;
}

.mg25px {
    margin-left: 18px!important;
}

.mgnTop {
    margin-top: 5px!important;
}

.wheretomgn {
    margin-left: -10px!important;
}

.frequencymgn {
    margin-left: -12px!important;
}

.mgntopallergies {
    margin-top: 10px!important;
}

.marginLft {
    margin-left: -14px!important;
}

.mgnlfttext {
    margin-left: -20px!important;
}

.mgnRight {
    margin-right: 12px !important;
}

.ngvMgn {
    margin-left: -2px!important;
}

.mglft {
    margin-left: 15px!important;
}

.mgn17 {
    margin-left: 17px!important;
}

.ngt24 {
    margin-left: -25px!important;
}

.mgn14 {
    margin-left: 14px!important;
}

.mgnlft10 {
    margin-left: 10px!important;
}

.mgn23 {
    margin-left: 23px!important;
}

.mgn6 {
    margin-left: 6px!important;
}

.mg12 {
    margin-left: 12px!important;
}

.mgn31shoulderThere {
    margin-left: 31px!important;
}

.mgn2 {
    margin-left: 2px!important;
}

.ngmgn18 {
    margin-left: -18px!important;
}

.ngmgn8 {
    margin-left: -8px!important;
}

.ngv4 {
    margin-left: -4px!important;
}

.ngv15 {
    margin-left: -15px!important;
}

.ngv5 {
    margin-left: -5px!important;
}

.mgn4 {
    margin-left: 4px!important;
}

.ngv16 {
    margin-left: -16px!important;
}

.spanheight {
    font-size: large !important;
}

.dpdwnwidth {
    width: 28%;
}

.tableTd {
    min-width: 51px;
}

.tableTdSpan {
    min-width: 105px;
}
