<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-lg-12">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/rates/shipment']">
                        <mat-icon>where_to_vote</mat-icon>Shipments
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/rates/fcl']">
                        <mat-icon>local_shipping </mat-icon> FCL
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/rates/Contracts']">
                        <mat-icon>bookmarks </mat-icon> Contracts
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>