<div class="NewHeader">
    <h1 mat-dialog-title> Clinical Notes </h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal" novalidate [formGroup]="clinicalForm">
        <div class="form-group">
            <textarea class="form-control txtarea" placeholder="Enter Notes Here" maxlength="250" rows="4" formControlName="note">   </textarea>
            <div *ngIf="!note.valid && (note.dirty || note.touched)" class="error-text">
                <div *ngIf="note.errors.required">
                    Notes is required
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="!clinicalForm.valid" style="cursor:pointer;" [ngClass]="!clinicalForm.valid ? '' : 'btn-primary' " (click)="savesNote()" [mat-dialog-close]="'test'"><mat-icon>save</mat-icon>&nbsp;Save
</button>
    <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
</mat-dialog-actions>