<div class="row wrap" style="margin-bottom:7px;">
  <div class="col-lg-12">
    <div class="pills w-100 flex-p">
      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/orders/express/customer']"><mat-icon>supervised_user_circle </mat-icon> Customer</a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/orders/express/zone']"><mat-icon>location_searching </mat-icon> Zone</a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/orders/express/status']"><mat-icon>beenhere </mat-icon> Status</a></li>
      </ul>
    </div>
  </div>
</div>