<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput">HYD-DEL</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput" disabled>ANC-DEN</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AMP-COL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AAC-BAM</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>DAU-CAL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>RAJ-JAI</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>
                    <span type="text" class="mgninput" disabled>SRI-COIM</span>


                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>CHE-RAI</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput">HYD-DEL</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput" disabled>ANC-DEN</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AMP-COL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AAC-BAM</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>DAU-CAL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>RAJ-JAI</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>
                    <span type="text" class="mgninput" disabled>SRI-COIM</span>


                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>CHE-RAI</span>

                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput">HYD-DEL</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput" disabled>ANC-DEN</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AMP-COL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AAC-BAM</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>DAU-CAL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>RAJ-JAI</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>
                    <span type="text" class="mgninput" disabled>SRI-COIM</span>


                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>CHE-RAI</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput">HYD-DEL</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>


                    <span type="text" class="mgninput" disabled>ANC-DEN</span>
                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AMP-COL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>AAC-BAM</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-sm-12">
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>DAU-CAL</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>RAJ-JAI</span>

                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>
                    <span type="text" class="mgninput" disabled>SRI-COIM</span>


                </div>
                <div class="col-sm-3">

                    <mat-checkbox class="marginClasImportant" [checked]="checkbox"></mat-checkbox>

                    <span type="text" class="mgninput" disabled>CHE-RAI</span>

                </div>
            </div>
        </div>

        <mat-dialog-actions align="end" class="mgnright">
            <!-- <button mat-raised-button style="cursor:pointer;" class=" btn-primary" (click)="saveLane()"><mat-icon>save</mat-icon><span>Save</span></button> -->
            <!-- <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button> -->
        </mat-dialog-actions>

    </div>
</div>