<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-sm-9">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/sapphire/patients/patientdashboard/combinedNotes/schedule']">
                        <mat-icon>list_alt</mat-icon> Scheduling Notes</a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/sapphire/patients/patientdashboard/combinedNotes/clinical']">
                        <mat-icon>note_add</mat-icon> Clinical Notes</a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/sapphire/patients/patientdashboard/combinedNotes/billing']">
                        <mat-icon>speaker_notes</mat-icon> Billing Notes</a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="w-100 flex-p">
            <!-- <button mat-raised-button class="pull-right add-hover btn-success" (click)="openVisitDialog(null)">
        <mat-icon>add</mat-icon> Add Visit
      </button> -->
            <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
        <mat-icon>filter_list</mat-icon> Filter
      </button> -->
        </div>
    </div>
</div>