.newMarginClass {
    margin-top: 7px!important;
}

.tabs {
    border-radius: 4px;
    background: #bfbfbf !important;
    // margin-right: 7px;
    // font-size: 15px;
    // min-width: 64px;
    // line-height: 40px;
    // padding: 0 16px;
    // font-weight: 500;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    //padding: 8px 25px;
    //border-color: #444d58;
    //box-shadow: 7px 6px 25px #7b7b7bee;
    // margin-right: 7px;
    //border-bottom: 5px solid transparent;
    //color: #ffffff;
    font-size: 15px;
    // min-width: 64px;
    // line-height: 40px;
    // padding: 0 16px;
    // font-weight: 500;
    // width: 157px;
    cursor: pointer;
    // padding-top: 0.5rem;
}

.tabs:hover {
    color: #4d4444;
    background: #cddee7 !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24), 0 7px 25px 0 rgba(0, 0, 0, 0.19);
}

.width {
    width: 175px !important;
}

.width1 {
    width: 144px !important;
}

.width2 {
    width: 80px !important;
}