.AppointmentMinWidth {
    min-width: 390px!important;
}

.CPTMinWidth {
    min-width: 100px!important;
}

.vehilceMinWidth {
    min-width: 105px!important;
}

.Proof {
    min-width: 135px!important;
}

.fa-file-pdf-o {
    color: red;
}

.fa-map-o {
    color: #0088cc;
}

.fa-file-image-o {
    color: lightgreen;
}

.newMarginClass {
    margin-top: 7px!important;
}

.row{
    margin-top : 6px;
}