<div class="row">
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Patient :</label> Patient Name<br>
    
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">DOB :</label> Patient DOB<br>
    <label class="control-label">Visit :</label> Visit date  
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Sex :</label> Patient Sex<br>
    <label class="control-label">Patient ID :</label> Patient ID
  </div>
</div>

<hr>

<h2>Plan</h2>

<div>
  Chiropractor Treatment
</div>

<div>
  <p>
    Body Part: options seperatd by ,
  </p>
</div>
<div>
  <p>
    Diagnosis:  comments seperated by a space
  </p>
</div>
<div>
  <p>
    Notes:  comments seperated by a space
  </p>
</div>
<div>
  <p>
    Length of Treatment:  comments seperated by a space
  </p>
</div>

<div>
  Orthopedic Treatment
</div>

<div>
  <p>
    Body Part: options seperatd by ,
  </p>
</div>
<div>
  <p>
    Diagnosis: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Notes: comments seperated by a space
  </p>
</div>

<div>
  Pain Management
</div>

<div>
  <p>
    Body Part: options seperatd by ,
  </p>
</div>
<div>
  <p>
    Diagnosis: comments seperated by a space
  </p>
</div>
<div>
  <p>
    Notes: comments seperated by a space
  </p>
</div>

<div>
  <p>
    Medical Records: Comments seperated by a space
  </p>
</div>

<div>
  <p>
    Imaging: Comments seperated by a space
  </p>
</div>

<div>
  <p>
    Procedure: Comments seperated by a space
  </p>
</div>

<div>
  <p>
    Specialists: Comments seperated by a space
  </p>
</div>

<div>
  <p>
      Follow-up: Comments seperated by a space
  </p>
</div>

<div>
  <p>
    NOTES: Additional Notes
  </p>
</div>