<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                <div class="w-100 flex-p">
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="openKPIDialog(null)">
            <mat-icon>person_add</mat-icon> Add Service Levels
          </button>
                    <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
          </button>
                    <!-- <label class="btn btn-success  pull-right"
            style="color: white;padding-top: 8px !important;font-weight: 600;padding-bottom: 10px !important;;margin-right: 10px;">
            Upload CSV <input type="file" style="display: none;" name="image">
          </label>
          <label class="btn btn-success pull-right"
            style="color: white;padding-top: 8px !important;font-weight: 600;padding-bottom: 10px !important;;margin-right: 10px;">
            Download Sample
          </label>
          <label class="btn btn-success  pull-right"
            style="color: white;padding-top: 8px !important;font-weight: 600;padding-bottom: 10px !important;;margin-right: 10px;">
            Download CSV
          </label> -->
                </div>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100" *ngIf="filterToggle">
                <mat-card class="filter">
                    <mat-card-content>
                        <div class="row col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Keyword Search:
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="-Keyword Search--">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Group:
                                </div>
                                <div class="col-sm-8">
                                    <mat-select color="primary" required placeholder="--Select Group--" class="form-control">
                                        <mat-option [value]="0">Orders</mat-option>
                                        <mat-option [value]="1">Capacity</mat-option>
                                        <mat-option [value]="2">Customer</mat-option>
                                        <mat-option [value]="3">FFV</mat-option>
                                        <mat-option [value]="4">Operations</mat-option>
                                        <mat-option [value]="5">Biz Dev</mat-option>
                                        <mat-option [value]="6">Finance</mat-option>
                                        <mat-option [value]="7">Contracts</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Module :
                                </div>
                                <div class="col-sm-8">
                                    <mat-select color="primary" required placeholder="--Select Module--" class="form-control">
                                        <mat-option [value]="0">Management</mat-option>
                                        <mat-option [value]="1">Operations</mat-option>
                                        <mat-option [value]="2">Finance</mat-option>
                                        <mat-option [value]="3">Sales</mat-option>
                                        <mat-option [value]="4">Zone</mat-option>
                                        <mat-option [value]="5">Hub</mat-option>
                                        <mat-option [value]="6">Gateway</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>

                        <div class="row col-sm-12 my-5" style="margin-bottom:0px !important">
                            <div class="col-lg-4">
                                <div class="col-sm-4 newMarginClass">
                                    Type:
                                </div>
                                <div class="col-sm-8">
                                    <mat-select color="primary" required placeholder="--Select Type--" class="form-control">
                                        <mat-option [value]="0">Higher is Better</mat-option>
                                        <mat-option [value]="1">Interval</mat-option>
                                        <mat-option [value]="2">Lower is Better</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-4 newMarginClass">

                                </div>
                                <div class="col-sm-8">

                                </div>
                            </div>
                            <div class="col-lg-2" style="left:26px">
                                <button type="button" class="add-hover btn btn-success  pull-right">Search</button>
                            </div>
                            <div class="col-lg-2" style="left:24px">
                                <button type="button" class="btn filter-hover" style="background-color:#37474f; color:#fff !important; margin-left: -18px;">Clear</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="table-responsive">
            <table id="example2" class="table table-bordered table-hover">
                <thead class="tbl-head">
                    <tr class="tr-grid-header">
                        <th>Service Levels</th>
                        <th>Group</th>
                        <th>Module</th>
                        <th>Type</th>
                        <th class="text-center">Target</th>
                        <th class="text-center">Min Limit</th>
                        <th class="text-center">Max Limit</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableLists">
                        <td>{{item.kpi}}</td>
                        <td>{{item.group}}</td>
                        <td>{{item.module}}</td>
                        <td>{{item.type}}</td>
                        <td class="text-center">{{item.target}}</td>
                        <td class="text-center">{{item.minlimit}}</td>
                        <td class="text-center">{{item.maxlimit}}</td>
                        <td class="pad-left inner-screen text-center">
                            <a mwlConfirmationPopover [popoverTitle]="popoverStatusTitle" [popoverMessage]="popoverStatusMessage" placement="left" (confirm)="item.status = ! item.status" (cancel)="cancelClicked = true" [appendToBody]="true">
                                <span *ngIf="!item.status" style="color:red">Inactive</span>
                                <span *ngIf="item.status">Active</span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a matTooltip="Edit KPI" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1" (click)="openKPIDialog(item)">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteAttorney()" (cancel)="cancelClicked = true" [appendToBody]="true">
                                <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete KPI" class="fa fa-trash red"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>