<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <app-master></app-master>
        <div class="col-sm-12 magn">
            <div class="col-sm-3">
                <img style="height:150px;width:300px;margin-left:5px;" src="../../../assets/img/fcl/lcl1.png">
            </div>
            <div class="col-sm-3">
                <img style="height:150px;width:300px;margin-left:5px;" src="../../../assets/img/fcl/lcl2.png">

            </div>
            <div class="col-sm-3">
                <img style="height:150px;width:300px;margin-left:5px;" src="../../../assets/img/fcl/lcl3.png">
            </div>
            <div class="col-sm-3">
                <img style="height:150px;width:300px;margin-left:5px;" src="../../../assets/img/fcl/lcl4.png">
            </div>
        </div>
    </div>
</div>