<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-sm-12">
      <div class="pills w-100 flex-p">
        <ul class="nav nav-pills">
          <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/shipments/fcl/bookings']"><mat-icon>assignment_turned_in </mat-icon> Bookings </a></li>
          <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/shipments/fcl/intransit']"><mat-icon>departure_board </mat-icon> In-Transit </a></li>
          <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/shipments/fcl/delivery']"><mat-icon>check_circle_outline </mat-icon> Delivery </a></li>
        </ul>
      </div>
    </div>