<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <div style="margin-left:100px;">
            <h2>Tracking Details for Order ID 101247</h2>
            <h4>Tracking ID: 12314234</h4>

            <div style="margin-left: 100px;">
                <div class="mt-4">
                    <span>Thursday, 26 December</span>
                </div>
                <br>

                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">10:45 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package has left Line Haul</span><br>
                        <span id="location"> Ranchi - IN</span>
                    </div>
                </div>
                <!--STATUS-->
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">05:10 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package arrived at Line Haul</span><br>
                        <span id="location"> Ranchi - IN</span>
                    </div>
                </div>

                <div class="mt-4">
                    <span>Wednesday, 25 December</span>
                </div>
                <br>
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">06:45 <span id="">PM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package has left Intra Regional Mile</span><br>
                        <span id="location"> Jaipur - IN</span>
                    </div>
                </div>
                <!--STATUS-->
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">03:45 <span id="">PM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package arrived at Intra Regional Mile</span><br>
                        <span id="location"> Jaipur - IN</span>
                    </div>
                </div>
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">06:45 <span id="">PM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package has left Intra Regional Mile</span><br>
                        <span id="location"> West Bengal - IN</span>
                    </div>
                </div>
                <!--STATUS-->
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">01:10 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package arrived at Intra Regional Mile</span><br>
                        <span id="location"> West Bengal - IN</span>
                    </div>
                </div>

                <!--STATUS-->

                <div class="mt-4">
                    <span>Tuesday, 24 December</span>
                </div>
                <br>
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">03:45 <span id="">PM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package has left Intra Regional Mile</span><br>
                        <span id="location"> Mumbai - IN</span>
                    </div>
                </div>
                <!--STATUS-->
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">01:15 <span id="">PM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package arrived at Intra Regional Mile</span><br>
                        <span id="location"> Mumbai - IN</span>
                    </div>
                </div>
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">03:35 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package has left Intra Regional Mile</span><br>
                        <span id="location"> Coimbatore - IN</span>
                    </div>
                </div>
                <!--STATUS-->
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">02:10 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package arrived at Intra Regional Mile</span><br>
                        <span id="location"> Coimbatore - IN</span>
                    </div>
                </div>

                <!--STATUS-->
                <div class="mt-4">
                    <span>Monday, 23 December</span>
                </div>
                <br>
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">10:45 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package has left First Mile</span><br>
                        <span id="location"> Chennai - IN</span>
                    </div>
                </div>
                <!--STATUS-->
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <span id="">07:30 <span id="">AM</span></span>
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package arrived at First Mile</span><br>
                        <span id="location"> Chennai - IN</span>
                    </div>
                </div>
                <div class="row mb-2" id="latest">
                    <div class="col-2">
                        <!-- <span id="">03:35 <span id="">AM</span></span> -->
                    </div>

                    <div class="col-6 pl-2" id="vertical-line">
                        <span id="status">Package is shipped</span><br>
                        <!-- <span id="location"> Coimbatore - IN</span> -->
                    </div>
                </div>
                <!--STATUS-->
            </div>


        </div>
    </div>
</div>