<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-sm-4">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/admin/users/user']">
                        <mat-icon>people</mat-icon> Users</a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/admin/users/roles']">
                        <mat-icon> create </mat-icon>Roles</a>
                </li>
                <!-- <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/instanttransport/admin/users/zones']"><mat-icon>loupe</mat-icon> Zones</a></li> -->
            </ul>
        </div>
    </div>