<div class="row wrap" style="margin-bottom:7px;">
  <div class="col-sm-9">
    <div class="pills w-100 flex-p">
      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/unscheduled']"><mat-icon>highlight</mat-icon> Unscheduled</a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/scheduled']"><mat-icon>schedule</mat-icon> Scheduled</a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/prescreening']"><mat-icon>find_in_page</mat-icon> Prescreening</a></li>
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/diagnosis']"><mat-icon>post_add</mat-icon> Diagnosis</a></li>
        <!-- <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/billing']"><mat-icon>work</mat-icon> Billing</a></li> -->
        <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/recommendations']"><mat-icon>beenhere</mat-icon> Recommendations</a></li>
        <!-- <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/managevisits/emails']"><mat-icon>email</mat-icon> Email</a></li> -->
      </ul> 
    </div>
  </div>
  <div class="col-sm-3">
    <div class="w-100 flex-p">
      <!-- <button mat-raised-button class="pull-right add-hover btn-success" (click)="openVisitDialog(null)">
        <mat-icon>add</mat-icon> Add Visit
      </button> -->
      <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
        <mat-icon>filter_list</mat-icon> Filter
      </button> -->
    </div>
  </div>
</div>