.AppointmentMinWidth {
    min-width: 390px!important;
}

.CPTMinWidth {
    min-width: 100px!important;
}

.vehilceMinWidth {
    min-width: 105px!important;
}

.fa-map-o {
    color: #0088cc;
}

.newMarginClass {
    margin-top: 7px!important;
}

.row{
    margin-top : 6px;
}

.fa-file-pdf-o {
    color: red;
}

.fa-map-o {
    color: #0088cc;
}

.newMarginClass {
    margin-top: 7px!important;
}

.row{
    margin-top : 6px;
}

.MinWidth100 {
    min-width: 100px;
}

.MinWidth110 {
    min-width: 115px;
}