<!-- <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p"> 
        
    </div>
</div> -->



<div fxLayout="column">
    <!-- <div class="flex-p">  -->
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-subtitle><h2>Client Distribution</h2></mat-card-subtitle>
            </mat-card-header>
            <div class="w-100 h-300p">
                <agm-map [latitude]="17.3850" [fullscreenControl]="true" [longitude]="78.4867" [zoomControlOptions] = "zoomControlOptions" [zoom]="zoom" [mapTypeControl]="false">
                    <agm-marker [latitude]="17.3850" [longitude]="78.4867" [markerDraggable]="true"></agm-marker>
                </agm-map>                  
            </div>
        </mat-card>
    <!-- </div>   -->
  </div>