<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-sm-12">
        <div class="pills w-100 flex-p">
            <ul class="nav nav-pills">
                <!-- <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/shipments/booking']">
                        <mat-icon>check_circle</mat-icon> Booking (95)</a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/shipments/delivery']">
                        <mat-icon>add_shopping_cart</mat-icon>Delivery (70)</a>
                </li> -->
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/shipments/fcl']">
                        <mat-icon>local_shipping</mat-icon> FCL (371)</a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/shipments/lcl']">
                        <mat-icon>airport_shuttle </mat-icon> Express (1245)</a>
                </li>
                <li routerLinkActive="active">
                    <a mat-raised-button [routerLink]="['/instanttransport/shipments/bb']">
                        <mat-icon>directions_transit</mat-icon> BESPOKE (54)</a>
                </li>


            </ul>
        </div>
    </div>