@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');
// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "app/theme/styles/base";
@import "app/theme/styles/theme";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/rtl";
@import "./_bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.material.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import './prime-ng.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./custom_styles.scss";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
.app.indigo-light .mat-card:not([class*='mat-elevation-z']) {
    box-shadow: 5px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 5px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
}

.red {
    color: red
}

.toast-error,
.toast-success {
    font-size: 15px !important;
}

.blue {
    color: skyblue
}

.green {
    color: green
}

.pink {
    color: pink
}

.gray {
    color: gray
}

.yellow {
    color: yellow
}

.login-bg {
    background: linear-gradient(rgba(21, 18, 18, 0.5), rgba(25, 17, 17, 0.5)), url('./../src/assets/img/vendor/leaflet/truck3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// ::ng-deep .mat-form-field-prefix, .mat-form-field-suffix {
//     white-space: nowrap;
//     flex: none;
//     position: relative;
//     font-size: 11px;
//     bottom: -6px;
// }
a {
    text-decoration: none !important;
}

.ps {
    touch-action: auto;
    overflow: auto !important;
    -ms-overflow-style: none;
    position: relative;
}

.ps::-webkit-scrollbar {
    width: 0 !important;
}

.gold {
    color: #dfba49 !important;
}

.goodColor {
    color: #222222 !important;
}

.green {
    color: green !important;
}

.pink {
    color: #ff66ff !important;
}

.newMarginClass {
    margin-top: 7px!important;
}

.fa-file-text-o {
    color: #007ad9;
}

td {
    text-align: left !important;
}

.pills>.nav>li>a {
    border-radius: 4px;
    //padding: 8px 25px;
    background: #dddddd !important;
    //border-color: #444d58;
    //box-shadow: 7px 6px 25px #7b7b7bee;
    margin-right: 7px;
    //border-bottom: 5px solid transparent;
    //color: #ffffff;
    font-size: 15px;
    min-width: 64px;
    line-height: 40px;
    padding: 0 16px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pills>.nav>li.active>a {
    background: #50636d !important;
    color: #ffffff;
    //border-bottom: #222222 5px solid;
}

.pills>.nav>li>a:hover {
    color: #ffffff;
    background: #70818a !important;
    //border-bottom: #2e3a40 5px solid;
    //box-shadow: 5px 6px 6px #909090ee;
}

.pills>.nav>li.active>a:hover {
    color: #222222;
    background: #50636d !important;
    //border-bottom: #222222 5px solid;
    //box-shadow: 7px 6px 25px #7b7b7bee;
}