<div fxLayout="row wrap">
    <div class="w-100 flex-p">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="margin-top: -10px;">
            <!-- <div class="row ">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="w-100 flex-p">
            <div class="dashboard-stat blue-madison">
              <div class="visual">
                <i class="fa fa-comments"></i>
              </div>
              <div class="details" style="right:120px!important">
                <div class="number">
                  All (425)
                </div>
                <div class="desc">
                  All (425)
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="w-100 flex-p">
            <div class="dashboard-stat gray-madison">
              <div class="visual">
                <i class="fa fa-skyatlas"></i>
              </div>
              <div class="details" style="right:112px!important">
                <div class="number">
                  FCL (274)
                </div>
                <div class="desc">
                  FCL (274)
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="w-100 flex-p">
            <div class="dashboard-stat pyellow-madison">
              <div class="visual">
                <i class="fa fa-free-code-camp"></i>
              </div>
              <div class="details">
                <div class="number">
                  Express (125)
                </div>
                <div class="desc">
                  Express (125)
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="w-100 flex-p">
            <div class="dashboard-stat red-intense">
              <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
              </div>
              <div class="details">
                <div class="number">
                  Bespoke (124)
                </div>
                <div class="desc">
                  Bespoke (124)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

            <div fxLayout="row wrap">
                <div class="flex-p w-100 my-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3 widthBooking">
                                <a class="tabs" mat-raised-button>All (425)</a>

                            </div>
                            <div class="col-sm-3 widthBooking">
                                <a class="tabs" mat-raised-button>FCL (274)</a>

                            </div>
                            <div class="col-sm-3 widthBookingNew">
                                <a class="tabs" mat-raised-button>Express (125)</a>

                            </div>
                            <div class="col-sm-3">
                                <a class="tabs" mat-raised-button>Bespoke (124)</a>

                            </div>


                            <!-- <div class="col-sm-2 width">
                        <a class="tabs" mat-raised-button>Destination (20)</a>
                        
                    </div>
                    <div class="col-sm-2 width">
                        <a class="tabs" mat-raised-button>Unloadoing (20)</a>
                        
                    </div>
                    <div class="col-sm-2 width2">
                        <a class="tabs" mat-raised-button>POD (7)</a>
                        
                    </div>
                    <div class="col-sm-2 width">
                        <a class="tabs" mat-raised-button>FTR (100%)</a>
                        
                    </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" class="flex-p">
        <app-customer-pie></app-customer-pie>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="34" class="flex-p">
        <app-zone-pie></app-zone-pie>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" class="flex-p">
        <app-status-pie></app-status-pie>
    </div>
</div>