<div class="NewHeader">
    <i class="fa fa-times" aria-hidden="true" style="float: right !important;margin: 0 10px 0px 0;font-size: 17px;    cursor: pointer;" (click)="close()"></i>
    <h1 mat-dialog-title><span *ngIf="!user">Add</span><span *ngIf="user">Edit</span> Contract</h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal" novalidate [formGroup]="addCustomerForm">
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Contract Title: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" formControlName="vehicleType" class="form-control" placeholder="Enter Contract Title" required>
                <div *ngIf="!vehicleType.valid && (vehicleType.dirty || vehicleType.touched)" class="error-text">
                    <div *ngIf="vehicleType.errors.required">
                        Contract Title is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Description: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" formControlName="axle" class="form-control" placeholder="Enter Description" required>
                <div *ngIf="!axle.valid && (axle.dirty || axle.touched)" class="error-text">
                    <div *ngIf="axle.errors.required">
                        Description is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Start Date : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-calendar" [owlDateTimeTrigger]="dt1"></i>
                    <input class="form-control" formControlName="startdate" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1" required>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>

                <div *ngIf="!startdate.valid && (startdate.dirty || startdate.touched)" class="error-text">
                    <div *ngIf="startdate.errors.required">
                        start Date is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Expiry Date: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-calendar" [owlDateTimeTrigger]="dt2"></i>
                    <input class="form-control" formControlName="addEnd" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2" required>
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                </div>
                <div *ngIf="!addEnd.valid && (addEnd.dirty || addEnd.touched)" class="error-text">
                    <div *ngIf="addEnd.errors.required">
                        Expiry Date is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Upload Documents : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 margins">
                <input type="file" accept="application/pdf" placeholder="Upload file..." formControlName="lop" style="margin-top:-3px!important; cursor: pointer;" required>
                <div *ngIf="!lop.valid && (lop.dirty || lop.touched)" class="error-text">
                    <div *ngIf="lop.errors.required">
                        Upload Documents is required
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Latitude: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" formControlName="cbm" class="form-control" placeholder="" required>
                <div *ngIf="!cbm.valid && (cbm.dirty || cbm.touched)" class="error-text">
                    <div *ngIf="cbm.errors.required">
                        Latitude is required
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">longitude: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" formControlName="userName" id="" placeholder="" required>
                <div *ngIf="!userName.valid && (userName.dirty || userName.touched)" class="error-text">
                    <div *ngIf="userName.errors.required">
                        longitude is required
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Radius:</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" formControlName="uniqueId" placeholder="" required>
                <div *ngIf="!uniqueId.valid && (uniqueId.dirty || uniqueId.touched)" class="error-text">
                    <div *ngIf="uniqueId.errors.required">
                        Radius is required
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Address-1: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <textarea class="form-control txtarea" maxlength="500" rows="2" formControlName="address" placeholder="" required></textarea>
                <div *ngIf="!address.valid && (address.dirty || address.touched)" class="error-text">
                    <div *ngIf="address.errors.required">
                        address-1 is required
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Address-2: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <textarea class="form-control txtarea" maxlength="500" rows="2" formControlName="address2" placeholder="" required></textarea>
                <div *ngIf="!address2.valid && (address2.dirty || address2.touched)" class="error-text">
                    <div *ngIf="address2.errors.required">
                        address-2 is required
                    </div>
                </div>
            </div>
        </div> -->
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="!addCustomerForm.valid" style="cursor:pointer;" [ngClass]="!addCustomerForm.valid ? '' : 'btn-primary'" (click)="saveCustomer()" [mat-dialog-close]="'test'"><mat-icon *ngIf="user">update</mat-icon><mat-icon *ngIf="!user">save</mat-icon><span *ngIf="!user"> Save</span><span
*ngIf="user"> Update</span></button>
    <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hove" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
</mat-dialog-actions>