<div class="row">
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Patient :</label> Patient Name<br>
    
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">DOB :</label> Patient DOB<br>
    <label class="control-label">Visit :</label> Visit date  
  </div>
  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
    <label class="control-label">Sex :</label> Patient Sex<br>
    <label class="control-label">Patient ID :</label> Patient ID
  </div>
</div>

<hr>

<h2>Physical Exam:</h2>

<div>
  <p>
    GENERAL: AAOx3, NAD, normal level of consciousness, good personal hygiene
  </p>
</div>

<div>
  <p>
    GENERAL: Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    HEENT: no gross deformity, sclerae anicteric, EOMI, normal conjunctivae, PERRLA, no sinus tenderness, no boggy nasal mucosa, no erythema of throat, no exudate of throat, no lesions of throat, no enlargement of tonsils, TM clear
  </p>
</div>

<div>
  <p>
    HEENT:  Abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    SKIN: no lesions, no rash
  </p>
</div>

<div>
  <p>
    
  </p>
</div>

<div>
  <p>
    NECK: Supple. No lymphadenopathy/tenderness (-) thyromegaly
  </p>
</div>

<div>
  <p>
    NECK: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    CARDIOVASCULAR: RRR, no JVP, no carotid bruits, no murmurs, rubs or gallops, S1 S2 present, no S3, no S4 
  </p>
</div>

<div>
  <p>
    CARDIOVASCULAR: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    LUNGS: CTAB, no adventitious sounds 
  </p>
</div>

<div>
  <p>
    LUNGS: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    ABDOMEN: soft, non-tender, non-distended, no surgical scars, no trauma on inspection, normal bowel sounds all 4 quadrants, no masses noted on light or deep palpation, no CVA tenderness, no hepatosplenomegaly, no rebound tenderness
  </p>
</div>

<div>
  <p>
    ABDOMEN: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    MUSCULOSKELETAL: normal muscle tone/bulk, no deformities, normal range of motion, normal spine alignment
  </p>
</div>

<div>
  <p>
    MSK:abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    BREASTS: no masses noted, no lymphadenopathy, no nipple discharge, no tenderness
  </p>
</div>

<div>
  <p>
    BREASTS: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    NEUROLOGICAL: muscle strength 5/5 in all major muscle groups, cranial nerves II-XII intact, rapid alternating movements intact, point-to-point movements intact, pain/temperature/light touch/ vibration/discrimination intact, DTR's intact
  </p>
</div>

<div>
  <p>
    NEURO: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    EXTREMITIES: no varicose veins, no edema, no abnormal movements, no tremor, no rigidity, normal alignment, normal gait
  </p>
</div>

<div>
  <p>
    Extrem: abnormal findings include Options seperated by , and comments seperated by a space
  </p>
</div>

<div>
  <p>
    Text in textarea for additional notes
  </p>
</div>