<!-- <div class="col-sm-12 my-2">
    <img src="../../../../../assets/img/Construction.png">
</div> -->

<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <div class="row my-5">
            <label class="control-label col-sm-12 ">South-1: </label>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->

                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput">Hyderabad-H1</span>
                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Chennai-H1</span>
                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Pondicherry-H1</span>

                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Bengaluru-H2</span>

                </div>
            </div>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->

                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput">Vikarabad -H1</span>
                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Wanaparthy -H1</span>
                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Karimnagar-H1</span>

                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Kochi-H2</span>

                </div>
            </div>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->

                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput">	Kollam-H1</span>
                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Ernakulam-H1</span>
                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Thiruvananthapuram-H1</span>

                </div>
                <div class="col-sm-3">

                    <!-- <mat-checkbox class="marginClasImportant"></mat-checkbox> -->
                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Malappuram-H2</span>

                </div>
            </div>
        </div>

        <div class="row my-5">
            <label class="control-label col-sm-12 ">North-H1: </label>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Ludhiana-H3</span>

                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Chandigarh-H1</span>

                </div>
                <div class="col-sm-3">
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Shimla-H2</span>


                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Kanpur-H4</span>

                </div>
            </div>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Ghaziabad-H3</span>

                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Varanasi-H1</span>

                </div>
                <div class="col-sm-3">
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Moradabad-H2</span>


                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Bareilly-H4</span>

                </div>
            </div>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Meerut-H3</span>

                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Allahabad-H1</span>

                </div>
                <div class="col-sm-3">
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Agra-H2</span>


                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Gurgaon-H4</span>

                </div>
            </div>
            <div class="col-sm-12 my-2">

                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Jalandhar-H3</span>

                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Saharanpur-H1</span>

                </div>
                <div class="col-sm-3">
                    <input type="checkbox" class="marginClasImportant" checked disabled>
                    <span type="text" class="mgninput" disabled>Gorakhpur-H2</span>


                </div>
                <div class="col-sm-3">

                    <input type="checkbox" class="marginClasImportant" checked disabled>

                    <span type="text" class="mgninput" disabled>Noida-H4</span>

                </div>
            </div>
        </div>
        <!-- <div class="row my-5">
          <label class="control-label col-sm-12 ">North-1: </label>
          <div class="col-sm-12 my-2">

              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Ludhiana-3</span>

              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Chandigarh-1</span>

              </div>
              <div class="col-sm-3">
                  <input type="checkbox" class="marginClasImportant" checked disabled>
                  <span type="text" class="mgninput" disabled>Shimla-2</span>


              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Kanpur-4</span>

              </div>
          </div>
      </div>

      <div class="row my-5">
          <label class="control-label col-sm-12 ">East-1: </label>
          <div class="col-sm-12 my-2">

              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>


                  <span type="text" class="mgninput">Gangtok-1</span>
              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>


                  <span type="text" class="mgninput" disabled>Agartala-2</span>
              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Aizawl-3</span>

              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>	
                      Kohima-1</span>

              </div>
          </div>
      </div>

      <div class="row my-5">
          <label class="control-label col-sm-12 ">West-2: </label>
          <div class="col-sm-12 my-2">

              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Gandhidham-4</span>

              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Ahmedabad-1</span>

              </div>
              <div class="col-sm-3">
                  <input type="checkbox" class="marginClasImportant" checked disabled>
                  <span type="text" class="mgninput" disabled>Vadodara-2</span>


              </div>
              <div class="col-sm-3">

                  <input type="checkbox" class="marginClasImportant" checked disabled>

                  <span type="text" class="mgninput" disabled>Surat-3</span>

              </div>
          </div>
      </div> -->


        <!-- <mat-dialog-actions align="end" class="mgnright">
          <button mat-raised-button style="cursor:pointer;" class=" btn-primary" (click)="saveLane()"><mat-icon>save</mat-icon><span>Save</span></button>
          <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
      </mat-dialog-actions> -->


    </div>
</div>